.home {
  background: url("../image/home/bg2.png") center/cover;
  padding: 232px 0 284px;
  position: relative;
  margin-bottom: -100px;
}
.home-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.home-left__logo {
  margin-bottom: 50px;
}
.home-left__btn {
  padding: 16px 60px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 22.2603px;
  line-height: 32px;
  /* identical to box height */
  text-transform: uppercase;
  color: #c4c4c4;
  border: 1.78082px solid #c4c4c4;
  background: black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 7.15189px;
  cursor: pointer;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.home-left__btn:hover {
  background: #be460d;
  color: #774200;
}
.home-left__btn:active {
  background: #be460d;
  color: #774200;
}
.home-left__img {
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33px;
  height: 33px;
  -o-object-fit: cover;
     object-fit: cover;
}
.home-left__img img {
  width: 100%;
}
.home-left__text {
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 27.8383px;
  line-height: 196.5%;
  /* or 55px */
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.68);
  margin-bottom: 50px;
  margin-top: -10px;
}